{% extends 'base.html.twig' %}

{% block body %}
    
    <p>Vous vous etes correction authentifié</p>
    
    <p>Bonjour ....</p>
    
    <p><a href="{{path('client_page') }}">  Acceder à l'espace réversé aux clients</a></p>
    
   <p><a href="{{path('admin_page') }}"> Acceder à l'espace réversé aux administrateurs</a></p>
    
{% endblock %}